/**
 * zhengkun 2017-12-12
 */

@import "~antd/lib/style/themes/default.less";
.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img {
  height: 72vh;
  width: 100%;
}
.input {
  width: 30%;
  padding: 10px;
  border: 2px solid black;
  height: 50vh;
  .name {
    width: 20%;
  }
}
.textarea {
  width: 40%;
}
.word {
  color: white;
  font-size: 150px;
  position: absolute;
  top: 200px;
  left: 25%;
}
.title {
  text-align: center;
  font-size: 40px;
}
.contact {
  margin: auto;
  padding-top: 30px;
  width: 50%;
  height: 50vh;
  .border{ 
    border: 1px solid white;
    border-bottom: 2px solid black;
    border-radius: 0;
    margin-top: 20px;
  }
  .button {
    margin: auto;
    margin-top: 20px;
    border-radius: 10%;
    border: 1px solid black;
  }
}