@import "~antd/lib/style/themes/default.less";

.img{
  height: 100vh;
  width: 100%;
}
.essay {
  margin: 30px;
  font-size: 25px;
}
.page{ 
  display: flex;
  justify-content: center;
}
.global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}