@import "~antd/lib/style/themes/default.less";
.layout {
  height: 100%;
}
.header {
  height: 60px;
  position: relative;
  padding: 10px 300px;
  // -webkit-box-sizing: border-box;
  // border-bottom: 1px solid #ffffff;
  background: black;
  display: flex;
  align-items: center;
  justify-content:center; 
  .menu {
    color: #fff;
    border-bottom: 0px solid #ffffff;
    background: transparent;
    font-size: 25px;
  }
}
.content {
  background: #ffffff;
}
.footer {
  background: #ffffff;
  display: flex;
  justify-content: center;
}
.icon {
  height: 10px;
  width: 10px;
}