@import "~antd/lib/style/themes/default.less";
.herder {
  background: #ffffff;
  min-width: 100vh;
  position: relative;
  z-index: 10;
  .menu {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ffffff;
  }
}
.trigger {
  position: absolute;
  top: 80px;
  font-size: 20px;
  line-height: 64px;
  background-color: transparent;
  // cursor: pointer;
  transition: all .3s;
  padding: 0 24px;
  &:hover {
    background: @primary-1;
  }
}
.content {
  background: rgba(255, 255, 255, 0); 
}
.div {
  background-image: url('') no-repeat;
}
.footer {
  text-align: center;
}