@import "~antd/lib/style/themes/default.less";
.header {
  background: white;
  height: 50px;
  border: 1px solid white;
}
.menu {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid white;
}
.content {
  background: white;
}
.footer {
  text-align: center;
  background: white;
}
